

  #section-bank {
    position: relative;
  }

  .container {
    margin: 1rem;
  }

  .container h2 {
    font-weight: 500;
  }
  #preloader {
    position: fixed;
    background: #fff url("../assets/preloader.gif") no-repeat center;
    background-size: 35%;
    height: 100vh;
    z-index: 1000;
    width: 100%;
  }
  .bank {
    border: 10px outset rgb(229, 172, 172);
    width: 30%;
    margin-bottom: 5rem;
    height: 40svh;
    text-align: center;
    background-color: rgb(244, 225, 225);

    /* background-color: #cdcdcd; */
    box-shadow: 10px 5px 5px #dcd0d0;
    position: relative;
    border-radius: 5px;
  }
  .bank a {
    color: black;
    text-decoration: none;
  }
  .bank h2 {
    margin-top:2rem;
    text-decoration: underline;
    color: rgb(91, 22, 22);
  }

  .bank .visit {
    /* border: 2px solid red; */
    padding: 5px 20px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(212, 77, 77);
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 20%;
    left: 37%;
    box-shadow: 10px 5px 5px rgba(255, 0, 0, 0.395);
    text-transform: uppercase;
  }
  .bank .visit:hover{
    background-color:rgb(237, 88, 88);
  }
  .blood-bank {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 4.5rem;
  }
  @media(max-width:650px)
{
    *{
        /* font-size: 8px; */
    }
    .bank{
        width: 100%;
    }
    .blood-bank{
        flex-direction: column;
        margin: auto ;


    }
}