#hero {
  height: 80svh;
  top: 4.5rem;
  position: relative;
  background-color: rgb(255, 83, 83);
  border-radius: 0% 0% 30% 75%;
}

.heroContent {
  position: relative;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 5rem;
}

.heroContent img {
  width: 80%;
  max-width: 45rem;
}
.heroContent h1 {
  font-size: 50px;
  position: relative;
  /* left: 5rem; */
}

.bottomLine {
  height: 40px;
  position: absolute;
  bottom: 0;
  background-color: black;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

@media (max-width: 650px) {
  .heroContent {
    flex-direction: column;
  }
}

/* cards css starts */

#cards-section {
  margin-top: 10rem;
  padding: 6rem;
}

.cards-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.card {
  width: 250px;
  position: relative;
  height: 300px;
  cursor: pointer;
  border-radius: 24px 24px 0 0;
  overflow: hidden;
  border: 2px solid black;
}

.span {
  position: absolute;
  height: 30%;
  width: 100%;
  background-color: #00000078;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: center;
  color: white;
  font-size: 20px;
  transition: all 0.3s;
}
.card:hover .span{
  height: 100%;
}
.images {
  position: relative;
  top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: -1;
}


/* eligibility css */
.eligible {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* padding-inline:6rem ;
  padding: 6rem;  */
}

/* footer css */
.footer-content {
  background-color: #4b4646;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 35px solid black;
  padding: 3rem;
}

#from-us-footer {
  width: 20rem;
  background-color: #d9d9d9;
  padding: 1rem;
  border-radius: 50px 0 50px 0;
  text-align: center;
}

#from-us-footer h3 {
  color: red;
  font-size: 30px;
}

#copyright-footer {
  text-align: center;
  background-color: black;
  color: white;
}
