
#hero {
  /* padding-inline: 5rem; */
  height: 80svh;
  top: 4.5rem;
  position: relative;
  background-color: rgb(255, 83, 83);
  border-radius: 0% 0% 30% 75%;
  /* margin-top: 5rem; */
}

.heroContent {
  position: relative;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 5rem;
}

.heroContent img {
  width: 80%;
  max-width: 45rem;
}
.heroContent h1 {
  font-size: 50px;
  position: relative;
  /* left: 5rem; */
}

.bottomLine {
  height: 40px;
  position: absolute;
  bottom: 0;
  background-color: black;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

@media (max-width: 650px) {
  .heroContent {
    flex-direction: column;
  }
}

/* cards css starts */

#cards-section {
  margin-top: 10rem;
  padding: 6rem;
}

.cards-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.card {
  width: 250px;
  aspect-ratio: 2/3;
  cursor: pointer;
  border-radius: 24px 24px 0 0;
  overflow: hidden;
  border: 2px solid black;
}

.card span {
  height: 30%;
  width: 100%;
  background-color: #4b4646;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: center;
  color: white;
  font-size: 20px;
}

.card-1 {
  background: url("../assets/cards/card-1.png") ;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.card-2 {
  background: url("../assets/cards/card-2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.card-3 {
  background: url("../assets/cards/card-3.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.card-4 {
  background: url("../assets/cards/card-4.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}



/* eligibility css */
.eligible{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* padding-inline:6rem ;
  padding: 6rem;  */

}