* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container {
    position: relative;
    overflow: hidden;
    height: 100svh;
}

.container::before {
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: radial-gradient(#fe7b7b, #ff2115);
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    transition: 1.8s ease-in-out;
    z-index: 6;
}

.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 1/2;
    overflow: hidden;
    transition: all 0.2s 0.7s ease-in-out;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.input-field {
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 80%;
    padding: 0.4rem;
}

.input-field span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    color: #333;
    font-weight: 600;
    font-size: 1.1rem;
    margin-left: 5px;
}

.btn {
    min-width: 150px;
    border: none;
    outline: none;
    border-radius: 49px;
    background: black;
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    text-transform: uppercase;
    padding: 1rem;
    transition: all 0.5s;
}

.btn:hover,
.btn:active {
    box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.355);
}

.registration-login {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s 0.7s ease-in-out;
}

form.login-form {
    z-index: 2;
}

form.registration-form {
    opacity: 0;
    z-index: 1;
}

.panels-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100svh;
}

.panel {
    display: flex;
    gap: rem;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    z-index: 7;
}

.content {
    transition: 0.9s 0.6s ease-in-out;
}

.panel h2 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.left-panel {
    padding: 3rem 17% 2rem 12%;
}

.right-panel {
    padding: 3rem 12% 2rem 17%;
    pointer-events: none;
}

.panel img {
    width: 100%;
    transition: 1.1s 0.4s ease-in-out;
}

.right-panel .content,
.right-panel img {
    transform: translateX(800px);
}

/* animation */
.registration-mode::before {
    transform: translate(100%, -50%);
    right: 52%;
}

.registration-mode .left-panel .content,
.registration-mode .left-panel img {
    transform: translateX(-800px);
}

.registration-mode .right-panel .content,
.registration-mode .right-panel img {
    transform: translateX(0px);
}

.registration-mode .right-panel {
    pointer-events: all;
}

.registration-mode .left-panel {
    pointer-events: none;
}

.registration-mode .registration-login {
    left: 25%;
}

.registration-mode form.login-form {
    z-index: 1;
    opacity: 0;
}

.registration-mode form.registration-form {
    z-index: 2;
    opacity: 1;
}

@media (max-width:870px) {
    .container {
        min-height: 800px;
        height: 100vh;
        height: 100svh;
    }

    .container::before {
        background: radial-gradient(#fe7c7c, #ff3b31);
        width: 1500px;
        height: 1500px;
        left: 30%;
        bottom: 68%;
        transform: translateX(-50%);
        right: initial;
        top: inherit;
    }

    .registration-login {
        width: 100%;
        left: 50%;
        top: 85%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
    }

    .panels-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .panel {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
    }

    .panel .content {
        padding-right: 15%;
        transition: 0.9s 0.6s ease-in-out;
    }

    .panel img {
        width: 200px;
        transition: 0.9s 0.6s ease-in-out;
    }

    .left-panel {
        grid-row: 1/2;
    }

    .right-panel {
        grid-row: 3/4;
    }

    .right-panel .content,
    .right-panel img {
        transform: translateY(300px);
    }

    .registration-mode::before {
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
    }

    .registration-mode .left-panel img,
    .registration-mode .left-panel .content {
        transform: translateY(-300px);
    }

    .registration-mode .registration-login {
        top: 5%;
        transform: translate(-50%, 0);
        left: 50%;
    }
}

@media (max-width:570px) {
    form {
        padding: 0 1.5rem;
    }

    .panel img {
        display: none;
    }

    .panel .content {
        padding: 0.5rem 1rem;
    }

    .container::before {
        bottom: 72%;
        left: 50%;
    }

    .container.registration-mode::before {
        bottom: 28%;
        left: 50%;
    }
}